* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#wrapper { 
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: rgba(227, 236, 236, 0.507);  
}

#appBox {
    width: 280px;
    height: 400px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.grey {
    background-color: rgba(227, 236, 236, 0.507);
}