* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

#wrapper { 
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: antiquewhite;  
}

#appBox {
    width: 280px;
    height: 400px;
    background-color: white;
    margin-bottom: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.grey {
    background-color: antiquewhite;
}


